In [3]:
def pythagoras(base, perpendicular):
    return(base**2 + perpendicular**2)**0.5

In [4]:
pythagoras(12, 5)

13.0

In [5]:
f = lambda x: x**2 + 2*x + 1

print(f(2))
print(f(3))
print(f(10))
print(f(15))

9
16
121
256

In [6]:
g = lambda x, y: x**2 + 2*x*y + y**2
print(g(2,3))
print(g(3,4))

25
49

In [7]:
h = lambda p,b:(p**2+ b**2)**0.5

In [8]:
print(h(3,5))

5.830951894845301

In [9]:
#what is the amount after 16% discount on 12000
12000 * (1 - .16)

10080.0

In [10]:
prices = [10000, 30000 ,12999, 50000, 43999, 10500]
for i in prices:
    x=(i* (1 - .16))
    print(x)

8400.0
25200.0
10919.16
42000.0
36959.159999999996
8820.0

In [11]:
prices = [10000, 30000 ,12999, 50000, 43999, 10500]
for i in prices:
    x=(i* (1 - .16))
    print("discount amt for",i,"is",x)

discount amt for 10000 is 8400.0
discount amt for 30000 is 25200.0
discount amt for 12999 is 10919.16
discount amt for 50000 is 42000.0
discount amt for 43999 is 36959.159999999996
discount amt for 10500 is 8820.0

In [12]:
prices = [10000, 30000 ,12999, 50000, 43999, 10500]
dis_prices =[]
for i in prices:
    ans=(i* (1 - .16))
    
    dis_prices.append(ans)
print(prices)
print(dis_prices)

[10000, 30000, 12999, 50000, 43999, 10500]
[8400.0, 25200.0, 10919.16, 42000.0, 36959.159999999996, 8820.0]

In [13]:
dis_price = list(map(lambda p: p*( 1- .16), prices))
print(dis_price)

[8400.0, 25200.0, 10919.16, 42000.0, 36959.159999999996, 8820.0]

In [14]:
x = [1,2,4,6,3,7,5,8,21]
# generate a list y that contains the square of each element in x
y = list(map(lambda x: x**2,x))
print(y)

[1, 4, 16, 36, 9, 49, 25, 64, 441]

In [15]:
x = [1,2,4,6,3,7,5,8,21]
for i in x:
    y =(i**2)
    print(y)

1
4
16
36
9
49
25
64
441

In [16]:
f=lambda b,h:(b*h)*0.5
print(f(3,2))

3.0

In [ ]:
f = [2,4,6,8,10,12,14]
def total(data):
    for i in data:
        result += i
    
    return result