In [1]:
arr =[1,2,3,'srishti']
# arr_name.append (value)
arr.append('srishti kashyap') #addon(srishti kashyap)
print(arr)
#index (idx,value)
arr.insert(1,'python') #addon (after 1 add 'python')
print(arr)

[1, 2, 3, 'srishti', 'srishti kashyap']
[1, 'python', 2, 3, 'srishti', 'srishti kashyap']

In [2]:
#delete
x = arr.pop() #for deletion of any value
print(x) # value for pop
print(arr)
print(arr.pop(1))
print(arr)

srishti kashyap
[1, 'python', 2, 3, 'srishti']
python
[1, 2, 3, 'srishti']

In [3]:
#remove
arr.remove('srishti')
print(arr)

[1, 2, 3]

In [4]:
# max
arr1=[1,2,3,4,5,6,1000,-1,0,124]
print(max(arr1)) #print max value
print(min(arr1)) #print min value

1000
-1

In [5]:
# sort
arr=[0,1,-1,123,-12345,1000,23]
arr.sort() # for assending order
print(arr)

[-12345, -1, 0, 1, 23, 123, 1000]

In [6]:
arr1=[1,2,3,123,-12345,1000,23]
arr1.sort(reverse=True) #for desending order
print(arr1)

[1000, 123, 23, 3, 2, 1, -12345]

In [7]:
# extend
arr1=[1,2,3,4]
arr1.extend([1,2,3,4,-1234,4,5,7]) # for extendin the value in any  formed list
print(arr1)

[1, 2, 3, 4, 1, 2, 3, 4, -1234, 4, 5, 7]

In [8]:
# reverse
arr1=[1,2,3,4,5,6,1000,-1,0,124]
arr1.reverse()
print(arr1)
print(arr1[::-1])

[124, 0, -1, 1000, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 1000, -1, 0, 124]

In [9]:
# count
arr1=[1,2,3,4,1,1,1]
print(arr1.count(3))

1